node_modules/
frontend/node_modules/
dist/
.env
.DS_Store
target/
.vercel
wallet.db/
build-and-push.sh
Dockerfile.service
keystore.json
wallet.json
.dockerignore
docs/
frontend/build/
settings.local.json
CONTRIBUTING.md
keys.txt